# Python cache files
__pycache__/

# macOS system files
.DS_Store

# Log files
logs/*

# Sensitive information
gemini_key.txt

# Dataset files
datasets/muMuQA/data/*.json
datasets/webQA/data/*.json
datasets/inspectionReports/data/*

# model weights
ml_models/model_weights/*